# Copie este arquivo para .env.local e preencha com os dados do seu projeto Supabase
# (Supabase Dashboard > Project Settings > API)

NEXT_PUBLIC_SUPABASE_URL= "sb_publishable_jHMzLuI3gYXIvpkxFa6D8w_dTLYTKfP"
NEXT_PUBLIC_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1Y2JmcHZ1Z21sdG9ycXprZWNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczNDk3MjcsImV4cCI6MjEwMjkyNTcyN30.Q0WEOjfzeVNDQD3FIBP83MVjWa1wLqM4PpDea0TEMQY"
